.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  img {
    max-height: 200px;
    border-radius: 40px;
  }
}

.flexbox--vertical {
  flex-direction: column;
  img {
    max-height: 400px;
  }
}
